@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(172, 172, 172, 0.856);
}

#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}


#calculator{
display: flex;
flex-direction: column;
gap: 2rem;
padding: 2rem;
color: rgb(252, 252, 252);
background-color: #000000;
border-radius: 8px;

}

#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-box label{
font-size: 1.1rem;
color: rgb(240, 236, 236);
font-weight: 500;


}

.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.829);
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}


.input-field span{
    color: #9e0d3d;
    font-size: 1.3rem;
    padding: 0 0.5rem;

}

.input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #000000;
    padding: 0 0.5rem;
}



.input-field input:focus {
    outline: none;
}

#container-button{
display: flex;
gap: 10px;

}

#calculate{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
    background-color: #eeebebf1;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

#reset{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
    background-color: #eeebebf1;
    padding: 0.5rem 0;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    

}

#result {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #e00000dc;
    padding: 0.75rem 0;
}

#bmi {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;
}

#bmi span:last-child {
    font-size: 0.875rem;
    color:#fafafa;
}

.normal {
    color: #ececec;
}

.attention {
    color: #e92626;
}

#description{
   width: 15.5rem;
}



#more_info a:hover {
    color: #cbd5e1;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 500px) {
    

    #container {
        width: 100%;
        height: 100%;
    }

    #calculator {
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
}
